$dark-green : #21ad91;
$light-green: #b6e2d9;
$background-green: #f2faf9;
$primary-text: #536273;
$primary-text2:#657686;
$input-background:#f9fcff;

$secondary-text: #adb9c5;
$secondary-text2:#C2D0DD;
$border-gray: #d2e1e6;
$header-border:#adb9c5;
$form-border: #d4dfea;
$lang-box: #e5edf1;

