$dark-green : #2dac91;
$light-green: #b6e2d9;

$background-green: #f2faf9;
$background-basic: white;
$input-background:#f9fcff;

$primary-text: #657686;
$form-text:#ACBFD3;
$light-text: #c0cbd7;
$privacy-policy-text: #8996A4;
$warning-red: #DB2023;

$header-footer: #ebf1f5;
$border-gray: #d4dfea;

//$secondary-text: #BBC6D0;
//$secondary-text:#C2D0DD;
//$secondary-text:#CBD5DF;
//$secondary-text: #adb9c5;







