@import "_variables.scss";

body {
  width: 100%;
  font-family: 'Roboto', sans-serif;
}

header {
  height: 60px;
  border-bottom: solid 1px;
  border-bottom-color: $header-footer;
  .container {
    line-height: 60px;
  }
}

.logo {
  width: 91px;
  vertical-align: middle;
}

.userName {
  margin-left: 0;
  color: $primary-text;
  float: right;
  font-size: 12px;
  span {
    margin-right: 5px;
  }
}
.planeCircle {
  display:inline-block;
  width: 23px;
  height: 23px;
  border-radius: 100%;
  background-color: $header-footer;
  text-align: center;
  line-height: 23px;
  margin-right:5px;

}

.fa-plane {
  color: $dark-green;
}



.container {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.payoutSelection {
  height: 60px;
  margin-top: 34px;
  box-sizing: border-box;
  border: $border-gray solid 1px;
  position: relative;
  background-color: transparent;
  padding: 0;
  line-height: 60px;
  color: $light-text;
  h4 {
    border: $border-gray solid 2px;
    border-radius: 100%;
    width: 20px;
    height: 20px;
    text-align: center;
    font-size: 12px;
    display: inline-block;
    line-height: 20px;
    margin-left:66px;
  }
  h3 {
    display: inline-block;
    font-size: 13px;
    font-weight: 500;
    margin-left:13px;
    margin-right:88px;
  }
  div {
    display: inline-block;
  }
  h4[class="active"] {
    color:$dark-green;
    border-color:$dark-green;
  }
  h3[class="active"] {
    color:$primary-text;
  }
}


.arrowRight {
  width: 0;
  height: 0;
  border-top: 30px solid transparent;
  border-bottom: 30px solid transparent;
  position: absolute;
  border-left: 17px solid ;
}

.arrowBorder {
  border-left-color: $border-gray;
  z-index:50;
}
.arrowFill {
  border-left-color: white;
  z-index:100;
}
#firstArrowB {
  left:326px;
}
#firstArrowF {
  left:325px;
}
#secondArrowB {
  left: 659px;
}
#secondArrowF {
  left:658px;
}

.payoutMethod {
  background-color: $background-green;
  height: 43px;
  color: $dark-green;
  font-size: 12px;
  text-align: center;
  line-height: 43px;
  margin-top: 35px;
}

main {
  width: 644px;
  margin-left: auto;
  margin-right: auto;
}

.formInstruction {
  margin-top: 56px;
  text-align: center;
  color: $primary-text;
  h1 {
    font-size: 25px;
    font-weight: 500;

  }
  p {
    margin-top: 26px;
    margin-bottom: 14px;
    font-size: 15px;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
    text-align-last: justify;
    line-height: 1.4;
    padding: 0;
  }

}

.closeX {
  font-family: 'Orbitron', sans-serif;
  font-size:15px;
  margin-left: 300px;
  line-height: 10px;

}
.policy {
  color: $dark-green;
  font-size: 16px;
  text-decoration: underline;
  position: relative;
  cursor: pointer;
  display: inline-block;
}
.policy:hover {
  color: $dark-green;
  //text-decoration: underline;
}

.visible {
  display: block;
}

.unvisible {
  display:none;

}

.policy > i {
  text-align: left;
  font-family: 'Roboto', sans-serif;
  font-size:12px ;
  line-height: 16px;
  color: $privacy-policy-text;
  background: $background-basic;
  background-clip: padding-box;
  box-shadow: 0px 0px 10px 2px $header-footer;
  border: 1px solid $border-gray;
  border-radius: 3px;
  position: absolute;
  width:296px ;
  height:125px;

  left: 50%;
  margin-left: -175px;
  top: 30px;
  padding:13px 35px 29px 26px;
  bottom: 100%;
  margin-bottom: 15px;




}

.policy > i:before, .policy i:after {
  content: "";
  position: absolute;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  bottom: 100%;
  left: 50%;
  margin-left: -10px;
}

.policy > i:before {
  /*border-top: 10px solid #111;*/
  border-bottom: 10px solid $border-gray;
  margin-bottom: 0px;
}

.policy > i:after {
  border-bottom: 10px solid $background-basic;
  margin-bottom: -2px;
  z-index: 1;
}

//.policy:hover > i {
//  opacity: 1;
//  display: block;
//}

.form {
  border: $border-gray solid 1px;
  height: 1167px;
  margin-top: 72px;
  margin-bottom: 79px;
  h3 {
    display: inline;
  }
}

.form form {
  margin-left: 82px;
  //margin-right:60px;
}

[type=radio] {
  display: none;
}

[type=radio] + label {
  color: $form-text;
  i {
    color: $form-text;
  }
}

[type=radio]:checked + label {
  color: $primary-text;
  i {
    color: $dark-green;
  }
}
.accountType label {
  margin-right:33px;
  cursor: pointer;
}

.instruction {
  color: $form-text;
  margin-bottom: 30px;
  margin-top: 65px;
  h3 {
    color: $primary-text;
    font-size: 18px;
    font-weight: 500;
    display: inline-block;
  }
  h4 {
    border: $form-text solid 2px;
    border-radius: 100%;
    width: 28px;
    height: 28px;
    text-align: center;
    font-size: 15px;
    display: inline-block;
    line-height: 28px;
    margin-right: 18px;
  }
}

input {
  height: 53px;
  line-height: 53px;
  margin-right: 20px;
  margin-bottom: 20px;
  padding: 0 0 0 16px;
  border: $form-text solid 1px;
  color: $primary-text;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  background-color: $input-background;
}
.firstName, .lastName {
  margin-bottom:33px;
}

.error {
  font-size:12px;
  color: $warning-red;
  position: absolute;
  top:60px;
  left:1px;
  visibility: hidden;
}

.red {
  border-color:$warning-red;
}

.lNameError {
  left: 253px;
}

.form input:focus {
  border: $dark-green solid 1px;
  outline: none;
}
.accountOwner {
  position: relative;
}

.accountOwner input {
  width: 210px;
}

.accountOwner select {
  @extend input;
  width: 226px;
  padding-right: 10px;

  option {
    color: $primary-text;
  }
}

.bank {
  margin-top: 12px;
}
.bankAccount {
  position: relative;
}

.bankAccount input {
  width: 294px;
}

.bankAccount select {
  @extend input;
  width: 310px;
}

.boxTitle {
  color: $primary-text;
  font-size:14px;
  font-weight: bold;
}
.bold {
  font-weight: bold;
}
.green, .green:visited {
  color:$dark-green;
  text-decoration: none;
}

//.visible {
//  opacity: 1;
//}
//
//.infoHover {
//  //visibility:hidden;
//  position: absolute;
//  top:157px;
//  //left:330px;
//  left:100px;
//  width:35px;
//  height: 35px;
//  border-radius: 100%;
//  background-color: deeppink;
//}
//
//.blue {
//  background-color: blue;
//}


.info {
  width: 23px;
  height: 23px;
  text-align: center;
  line-height: 23px;
  border: $form-text solid 2px;
  color: $form-text;
  border-radius: 100%;
  font-family: 'Merriweather', serif;
  font-size:15px;
  font-weight:700;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  position: relative;
}

.info > i {
  text-align: left;
  font-family: 'Roboto', sans-serif;
  font-size:12px ;
  font-weight: 300;
  line-height: 17px;
  color: $primary-text;
  background: $background-basic;
  background-clip: padding-box;
  box-shadow: 0px 0px 10px 2px $header-footer;
  border: 1px solid $border-gray;
  border-radius: 3px;
  position: absolute;
  width:282px ;
  height:91px;
  left: 50%;
  margin-left: -170px;
  padding:27px 33px 35px 26px;
  bottom: 100%;
  margin-bottom: 15px;
  display:none;

  //opacity:0;
  //-webkit-transition: opacity 0.5s linear;
  //-moz-transition: opacity 0.5s linear;
  //-ms-transition: opacity 0.5s linear;
  //-o-transition: opacity 0.5s linear;
  //transition: opacity 0.5s linear;
}

.info > i:before, .info i:after {
  content: "";
  position: absolute;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  top: 100%;
  left: 50%;
  margin-left: -10px;
}

.info > i:before {
  border-top: 10px solid $border-gray;
  margin-top: 0px;
}

.info > i:after {
  border-top: 10px solid $background-basic;
  margin-top: -2px;
  z-index: 1;
}

.info:hover > i, .info:hover {
  opacity: 1;
  display: inline-block;
}

textarea {
  width: 456px;
  height: 104px;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  padding-left: 16px;
  padding-top: 18px;
}

textarea:focus {
  border: $dark-green solid 1px;
  outline: none;
}

.button {
  width: 136px;
  height: 50px;
  color: white;
  background-color: $dark-green;
  padding: 0;
  float: right;
  margin-right: 87px;
  margin-top: 60px;
  outline: none;
  border:none;
  border-radius: 2px;
  cursor: pointer;
}
.button:hover {
  background-color: $light-green;
}

footer {
  height: 60px;
  border-top: $header-footer solid 1px;
  font-size: 11px;
  color: $light-text;
  .container {
    line-height: 60px;
  }
}

.language {
  width: 87px;
  height: 32px;
  border: $header-footer solid 1px;
  border-radius: 5%;
  float: left;
  margin-top: 14px;
  margin-right: 27px;
  line-height: 32px;
  cursor: pointer;
  span {
    margin-left: 10px;
  }
  i {
    font-size: 16px;
    margin-left: 10px;
  }
}

.language:hover {
  color: $primary-text;
}

.copyright {
  float: right;
  vertical-align: middle;
}

nav * {
  display: inline;
  margin-right: 22px;
  cursor: pointer;
}

nav li:hover {
  color: $dark-green;
}