@import "_variables.scss";

body {
  width: 100%;
  font-family: 'Roboto', sans-serif;
}

header {
  height: 60px;
  border-bottom: solid 1px;
  border-bottom-color: $border-gray;
  .container {
    line-height: 60px;
  }
}

.logo {
  width: 91px;
  vertical-align: middle;
}

.userName {
  margin-left: 0;
  color: $primary-text;
  float: right;
  font-size: 12px;
    span {
      margin-right:5px;
    }
}
.fa-plane {
  color:$dark-green;
  margin-right:5px;
}

.container {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.payoutSelection {
  height: 60px;
  margin-top: 34px;
  box-sizing: border-box;
  border: $border-gray solid 1px;
}

.payoutMethod {
  background-color: $background-green;
  height: 43px;
  color: $dark-green;
  font-size: 12px;
  text-align: center;
  line-height: 43px;
  margin-top: 35px;
}

main {
  width: 644px;
  margin-left: auto;
  margin-right: auto;
}

.formInstruction {
  margin-top: 56px;
  text-align: center;
  color: $primary-text;
  h1 {
    font-size: 25px;
    font-weight: 500;

  }
  p {
    margin-top: 26px;
    margin-bottom: 14px;
    font-size: 15px;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
    text-align-last: justify;
    line-height: 1.4;
    padding: 0;
  }
  a {
    color: $dark-green;
    font-size: 16px;
    text-decoration: underline;
  }
}

.form {
  border:$form-border solid 1px;
  height:1167px;
  margin-top: 72px;
  margin-bottom:79px;
   h3 {
     display:inline;
   }
}
.form form  {
  margin-left:82px;
  //margin-right:60px;
}

[type=radio] {
  display: none;
}

[type=radio] + label {
  color: $secondary-text;
  i {
    color: $secondary-text;
  }
}

[type=radio]:checked + label {
  color:$primary-text;
  i {
    color:$dark-green;
  }
}

.instruction {
  color:$secondary-text;
  margin-bottom: 30px;
  margin-top:65px;
    i {
    font-size:30px;
      position: relative;
      top:3px;
  }
  span {
    font-size:18px;
    position: relative;
    left:-21px;
  }
  h3 {
    color: $primary-text;
    font-size: 18px;
    font-weight: 500;
  }
}
 input {
  height: 53px;
  line-height: 53px;
  margin-right: 20px;
  margin-bottom: 20px;
  padding:0 0 0 16px;
   border: $secondary-text solid 1px;
   color:$primary-text;
   font-size:14px;
   font-family: 'Roboto', sans-serif;

}

.form input:focus {
  border:$dark-green solid 1px;
  outline:none;
}

.accountOwner input {
  width:210px;
}

.accountOwner select {
  @extend input;
  width:226px;
  padding-right:10px;

  option {
    color:$primary-text;
  }
}

.bank  {
  margin-top:12px;
}
.bankAccount input {
  width:294px ;
}

.bankAccount select {
  @extend input;
  width:310px;
}

textarea  {
  width: 456px;
  height: 104px;
  font-family: 'Roboto', sans-serif;
  font-size:14px;
  padding-left:16px;
  padding-top: 18px;
}

textarea:focus  {
  border:$dark-green solid 1px;
  outline:none;
}

.button {
  width:136px;
  height: 50px;
  color: white;
  background-color: $dark-green;
  padding:0;
  float:right;
  margin-right:87px;
  margin-top:60px;
  outline: none;
}































footer  {
  height:60px;
  border-top:$border-gray solid 1px;
  font-size:11px;
  color:$secondary-text;
  .container {
    line-height: 60px;
  }
}
.language {
  width:87px;
  height: 32px;
  border:$lang-box solid 1px;
  border-radius: 5%;
  float:left;
  margin-top:14px;
  margin-right:27px;
  line-height: 32px;
  cursor: pointer;
  span {
    margin-left: 10px;
  }
  i {
    font-size:16px;
    margin-left:10px;
  }
}
.language:hover {
  color: $primary-text;
}

.copyright  {
  float:right;
  vertical-align: middle;
}
nav * {
  display: inline;
  margin-right: 22px;
  cursor: pointer;
}

nav li:hover  {
  color:$dark-green;
}